<h1 class ="usersTitle">List of all users</h1>
<%= render 'shared/login_as' %>
<div class= "allUsers">
  <% @users.each do |user| %>
    <%= link_to render(partial: 'shared/user_info', locals: { user: user }), user_path(user), class: "container" %>
  <% end %>
</div>