  <div class= "container">
    <div class= "photo">
      <%= image_tag user.Photo , class: "img-profile" %>
    </div>
    <div class="nameAndPosts">
      <p class = "name">
        <%= user?(user) ? 'You' : user.Name %>
      </p>
      <p class = "numberOfPosts" >
        Number of posts: <%= user.PostCounter %>
      </p>
    </div>
  </div>
  